### Gradle ###
.gradle
/build/

### Maven ###
/target/
/bin/
!.mvn/wrapper/maven-wrapper.jar

### Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBean
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbnuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*.logs

### Mac ###
*.DS_Store